*{
    font-family: 'Poppins', sans-serif; 
    padding:0;
    margin:0;
    box-sizing:border-box;
   
    }
    body{
        background: rgb(190, 160, 121);
        color: black;
        font-family: 'sans-serif';
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 92% 50%; 
    }

 .wrapper{
    width:90%;
    margin:center;
 }
    
    .header{
   width: 100%;
   height: 100vh;
   background: #000942;
   padding-left: 11%;
   padding-right: 8%;
   position: relative;

   background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background\ img.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: 92% 50%; 
    }
    .top-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0 15px;
        border-bottom: 1px solid #bababa;
    }
    .top-nav ul li{
        list-style: none;
        display: inline-block;
        margin-right: 30px;
        margin-top: 10px;
        margin-botttom: 10px;
    }
    .top-nav ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 15px;
    }
    .top-nav button{
        background: #e91e63;
        color: #fff;
        border: 0;
        outline: 0;
        border-radius: 30px;
        padding: 10px 20px;
        cursor: pointer;
    }
    
    .side-nav .logo{
        width: 80px;
        cursor: pointer;
    }
    .side-nav a{
        text-decoration: none;
        color: #fff;
        transform: rotate(-90deg) tranlatex(50%);
        width: max-content;
    }
    .nav-links{
        flex: 1;
        text-align: right;
        position: relative;
    }

    .nav-links ul li{
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
        padding: 8px 12px;
    }

    .nav-links ul li:hover::after{
        width: 100%;
    }
    nav img{
        width: 150px;
    }
    
    .text-box{
        width: 90%;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .text-box h1{
        font-size: 62px;
    }
    .text-box p{
        margin: 10px 0 40px;
        font-size: 16px;
        line-height: 25px; 
        color: #fff;
    }
    .hero-btn{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
   }
   .hero-btn:hover{
       border: 1px solid #009688;
       background: #009688;
       transition: 1s;

       @media (max-width: 1024px) and (min-width: 960px){
           .text-box h1{
               font-size: 20px;
           }
       }


        /*-------------------------About Our Company---------------------*/
    }
    
       .About Our Company {
            width: 80%;
            margin-top: 20%;
            text-align: center;
            padding-top: 80px;
            }

        .about h1{
            font-size: 36px;
            font-weight: 80;
            text-align: center;
           
       
        }
        .about p{
            margin: 10px 0 20px;
            color: rgb(37, 35, 35);
            font-size: 16px;
            line-height: 25px;
            text-align: center;       
        }
        .about h3{
            font-size: 36px;
            font-weight: 80;
            text-align: center;
        }
        .img{
            width: 50%;
            height: auto;
            object-fit: cover;
            object-position: 50% 80%;
        }

    
    /*-------------------------Footer--------------------*/

    .footer{
        width: 100%;
        text-align: center;
        padding: 30ox 0;
        color: rgba(250, 248, 248, 0.966);
    }
    .footer p{
        margin-bottom: 25px;
        margin-top: 20px;
        font-weight: 600;
    }
    .icons.fa{
        color:rgba(247, 244, 244, 0.7);
        margin: 0 13px;
        cursor: pointer;
        padding: 18px 0;
    }
    /*-------------------------About Us---------------------------*/
    .sub-header{
        width: 100%;
        height: 100vh;
        background: #000942;
        padding-left: 11%;
        padding-right: 8%;
        position: relative;
     
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background\ img.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 92% 50%; 
         }

.about-us h1{
    margin-top: 36px;
    font-weight: 80;
    text-align: center;
}
.about-us p{
    margin: 10px 0 20px;
    color: rgb(37, 35, 35);
    font-size: 16px;
    line-height: 25px;
    text-align: center;

}
.about-us p,ul{
    padding: 15px 0 25px;
    
}

/*---------------------------Gallery------------------------------*/

.sub-header{
    width: 100%;
    height: 50vh;
    text-align: center;
    
    background-position: center;
    background-size: cover;
    text-align: center;
    
}
.Gallery{
    min-height: 50vh;
    padding: 7rem 10%;
    position: center;
   
}
.gallery-col img{
    width: 60%;

}
.col-md-4{
    display: inline-block;
    align-items: right;
    justify-content: space-between;
    margin-top: 50px;
    

}
.gallery-col.img{
    flex: 1;
}
.brand{
    flex: 1;
}
.gallery-col .img{
    display: block;
    justify-content: flex-end;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: right;
}

    /*-----------------------Contact Us-----------------*/
.cont-sub{
    width: 100%;
    height: 50vh;
    text-align: center;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background\ img.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-us h1{
    padding-top: 0;
}
.contact-us p{
    text-align: center;
    padding: 15px 0 25px;
}
.contact-us-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-us-col div.fa{
    font-size: 28px;
    color: rgba(0, 0, 0, 0.74);
    margin: 10px;
    margin-right: 30px;
}
.contact-us-col div p{
    padding: 0;
}
.contact-us-col div h3{
    font-size: 20px;
    margin-bottom: 5px;
    color: black;
    font-weight: 400;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location.frame{
    width: 100%;
}
.Google From{
    width: 80%;
    margin: auto;
padding: 80px 0;
}

.Google Form.frame{
    width: 100%;

}
form {
    background-color: antiquewhite;
    display:flex;
    flex-direction:column;
    padding: 2vw 4vw;
    width:90%;
    max-width:600px;
    border-radius:10px    
}
form h3{
    color:#555;
    font-weight:800;
    margin-bottom: 20px;
}
form input, form textarea{
    border:0;
    margin:10px 0;
    padding:20px;
    outline:none;
    background: #f5f5f5;
    font-size:16px;
}
form button{
    padding: 15px;
    background:#0e0d0d;
    color:#fff;
    font-size:18px;
    border:0;
    outline:none;
    cursor:pointer;
    width: 20px auto 0;
    border-radius:30px;
}
 /*-----------------------Products and Services-----------------*/